# macOS
.DS_Store

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Docker / Compose
.env
.env.*

# Media
media/backups/
media/iso/
media/templates/

# Private local copies
.private/

# Python / venv
.venv/
__pycache__/

# MkDocs
site/

# Private docs (never commit)
docs-private/

# Logs
*.log
